# Python and SQL practise 1

Step through the code below and read it carefully so you understand what is happening.

This must be the first line of the program to allow Python to use the SQLite3 library
Run the cell below to import into your program

In [1]:
import sqlite3

Connects to a database called 'vets'. If no such database exists, it will create one. The file will be stored in the same folder as the notebook (or the Python program). From now on in the program you can refer to the database that you are connecting to as **db**

In [2]:
with sqlite3.connect("vets") as db:
    cursor = db.cursor()

Creates a table called **pet** which has four fields (petID, petName, petType and petAge). It specifies the data type, the field that is the primary key and the fields that cannot be left blank. The triple speech marks allow the code to be split over several lines to make it easier to read rather than having it displayed all on one line.

In [3]:
cursor.execute("""CREATE TABLE IF NOT EXISTS pet(petID integer PRIMARY KEY, 
petName text NOT NULL, petType text NOT NULL, petAge integer);""")

Collects input data from the program user.

In [13]:
newID = input("Enter unique pet ID number: ")
newName = input("Enter the pet name: ")
newType = input("Enter the pet type: ")
newAge = input("Enter the pet age: ")

Enter unique pet ID number: 4
Enter the pet name: Paul
Enter the pet type: gremlin
Enter the pet age: 69

This section of code takes the data we have collected from the program user and uses it to create a new record in the database.

The **db.commit()** line saves the changes.

In [14]:
cursor.execute(("""INSERT INTO pet VALUES(?,?,?,?)"""),(newID, newName, newType, newAge))
db.commit()

Displays all the data from the **pet** table in the vets database.

In [15]:
cursor.execute("SELECT * from pet")
print(cursor.fetchall())

[(1, 'Borky', 'Doggo', 4), (2, 'Dean', 'Fish', 3), (3, 'Georgiou', 'Dragon', 42), (4, 'Paul', 'gremlin', 69)]

In [7]:
#Can you add some more pets to the table. Put the code to do so here.
#Make them a variety of different types and ages. Aim to have 6-8 different pets
newID = input("Enter unique pet ID number: ")
newName = input("Enter the pet name: ")
newType = input("Enter the pet type: ")
newAge = input("Enter the pet age: ")

Enter unique pet ID number: 2
Enter the pet name: Dean
Enter the pet type: Fish
Enter the pet age: 3

This must be the last line in the program to close the database.

In [16]:
db.close()

Connecting again back to the database. (If we don't connect to it again then Python will throw an exception)

In [17]:
with sqlite3.connect("vets") as db:
    cursor = db.cursor()

Displays all the data from the vets table and displays each record on a separate line.

In [18]:
cursor.execute("SELECT * from pet")
for x in cursor.fetchall():
    print(x)

(1, 'Borky', 'Doggo', 4)
(2, 'Dean', 'Fish', 3)
(3, 'Georgiou', 'Dragon', 42)
(4, 'Paul', 'gremlin', 69)

Displays all the data from the vets table and displays each record, sorted by name on a separate line.

In [19]:
cursor.execute("SELECT * from pet ORDER BY petName")
for x in cursor.fetchall():
    print(x)

(1, 'Borky', 'Doggo', 4)
(2, 'Dean', 'Fish', 3)
(3, 'Georgiou', 'Dragon', 42)
(4, 'Paul', 'gremlin', 69)

Selects all the data from the pet table where their age is over 3 and prints it.

In [20]:
cursor.execute("SELECT * from pet WHERE petAge>3")
print(cursor.fetchall())

[(1, 'Borky', 'Doggo', 4), (3, 'Georgiou', 'Dragon', 42), (4, 'Paul', 'gremlin', 69)]

Selects all the data from the pet table where the pet type is 'Fish'

In [21]:
cursor.execute("SELECT * from pet WHERE petType='Fish'")
print(cursor.fetchall())

[(2, 'Dean', 'Fish', 3)]

Selects and prints the name and type from the **pet** table.

In [22]:
cursor.execute("SELECT petName,petType from pet")
print(cursor.fetchall())

[('Borky', 'Doggo'), ('Dean', 'Fish'), ('Georgiou', 'Dragon'), ('Paul', 'gremlin')]

Allows a user to type in a pet type and displays all the records where the input is equal to a pet type.

In [25]:
whichType = input("Enter a type of pet to display: ")
cursor.execute("SELECT * from pet where petType=?",[whichType])
for x in cursor.fetchall():
    print(x)

Enter a type of pet to display: Fish
(2, 'Freda', 'Fish', 3)

The next code updates the data in the table (overwriting the data) to change the name of the Fish with petID 2 to "Freda".

In [24]:
cursor.execute("UPDATE pet SET petName = 'Freda' WHERE petID=2")

Finally for now, lets close the database connection.

In [26]:
db.close()

## For reference (to use in the future).

The next part of code is incomplete and you should use very carefully if you need it in the future. You should be able to work out what it does.

In [ ]:
cursor.execute("DELETE pet WHERE petID=xxx")