# SQL Learning Activities

Complete all the tasks below in a Jupyter notebook using a mixture of Python and SQL.

**1)** Create a SQL database called **email_addresses** that contains a table called **names** with the following data:

| ID | FirstName | Surname   | Email                  |
|----|-----------|-----------|------------------------|
| 1  | Mark      | Campbell  | markcampbell@ada.ac.uk |
| 2  | Steve     | Rich      | steve@ada.ac.uk        |
| 3  | Ian       | Dickerson | ian@ada.ac.uk          |
| 4  | Vicky     | Clarke    | vicky@ada.ac.uk        |
| 5  | Stuart    | Noss      | stuart@ada.ac.uk       |

In [8]:
import sqlite3

In [9]:
with sqlite3.connect("email_addresses") as db:
    cursor=db.cursor()

In [10]:
cursor.execute("""CREATE TABLE IF NOT EXISTS names(ID integer PRIMARY KEY, 
FirstName text NOT NULL, Surname text NOT NULL, Email text);""")

In [23]:
newID = input("Enter the unique ID number: ")
newFName = input("Enter the first name: ")
newSName = input("Enter the surname: ")
newEmail = input("Enter the email address: ")

Enter the unique ID number: 5
Enter the first name: Stuart
Enter the surname: Noss
Enter the email address: stuart@ada.ac.uk

In [24]:
cursor.execute(("""INSERT INTO names VALUES(?,?,?,?)"""),(newID, newFName, newSName, newEmail))
db.commit()

In [25]:
cursor.execute("SELECT * from names")
print(cursor.fetchall())

[(1, 'Mark', 'Campbell', 'markcampbell@ada.ac.uk'), (2, 'Steve', 'Rich', 'steve@ada.ac.uk'), (3, 'Ian', 'Dickerson', 'ian@ada.ac.uk'), (4, 'Vicky', 'Clarke', 'vicky@ada.ac.uk'), (5, 'Stuart', 'Noss', 'stuart@ada.ac.uk')]

**2)** Create a new SQL database called BookInfo that will store a list of authors and the books they wrtoe. It will have two tables. The first one should be called **authors** and contain the following data:

| Name                | Place of Birth |
|---------------------|----------------|
| HP Lovecraft        | Providence     |
| Ramsey Campbell     | Liverpool      |
| August Derleth      | Sauk City      |
| Robert A.W. Lowndes | Rhode Island   |

The second one should be called **books** and contain the following data:

| ID | Title                           | Author              | Year Published |
|----|---------------------------------|---------------------|----------------|
| 1  | Call of Cthulhu                 | HP Lovecraft        | 1928           |
| 2  | The Last Voice They Hear        | Ramsey Campbell     | 1998           |
| 3  | Believer's World                | Robert A.W. Lowndes | 1961           |
| 4  | The Case of Charles Dexter Ward | HP Lovecraft        | 1941           |
| 5  | Something Near                  | August Derleth      | 1945           |
| 6  | Lonesome Places                 | August Derleth      | 1962           |
| 7  | From Beyond                     | HP Lovecraft        | 1934           |
| 8  | Dwellers in Darkness            | August Derleth      | 1976           |
| 9  | The Long Lost                   | Ramsey Campbell     | 1983           |
| 10 | The Duplicated Man              | Robert A.W. Lowndes | 1959           |
| 11 | The Tomb                        | HP Lovecraft        | 1922           |
| 12 | The Claw                        | Ramsey Campbell     | 1983           |

In [3]:
import sqlite3

In [4]:
with sqlite3.connect("authors") as db:
    cursor = db.cursor()

In [5]:
cursor.execute("""CREATE TABLE IF NOT EXISTS authors(Name text NOT NULL, PlaceOfBirth text NOT NULL);""")

In [15]:
newName = input("Enter the author name: ")
newPlaceOfBirth = input("Enter the place of birth: ")

Enter the author name: Robert A.W. Lowndes
Enter the place of birth: Rhode Island

In [18]:
cursor.execute(("""INSERT INTO authors VALUES(?,?)"""),(newName, newPlaceOfBirth))
db.commit()

In [19]:
cursor.execute("SELECT * from authors")
print(cursor.fetchall())

[('Robert A.W. Lowndes ', 'Rhode Island')]

**3)** Using the BookInfo database from question 2 above, display the list of authors and their place of birth. Ask the user to enter a place of birth and then show the title, date published and author's name for all the books by authors who were born in the location they selected.

In [2]:
import sqlite3

In [4]:
with sqlite3.connect("books") as db:
    cursor = db.cursor()

In [5]:
cursor.execute("""CREATE TABLE IF NOT EXISTS books(ID NOT NULL, Title text NOT NULL, Author text NOT NULL, Year NOT NULL);""")

In [28]:
newID = input("Enter the author ID: ")
newTitle = input("Enter the book title: ")
newAuthor = input("Enter the author name: ")
newYear = input("Enter the year published: ")

Enter the author ID: 12
Enter the book title: The Claw
Enter the author name: Ramsey Campbell
Enter the year published: 1983

In [29]:
cursor.execute(("""INSERT INTO books VALUES(?,?,?,?)"""),(newID, newTitle, newAuthor, newYear))
db.commit()

In [30]:
cursor.execute("SELECT * from books")
print(cursor.fetchall())

[('12', 'The Claw', 'Ramsey Campbell', '1983'), ('1', 'Call of Cthulhu', 'HP Lovecraft', '1928'), ('2', 'The Last Voice They Hear', 'Ramsey Campbell', '1998'), ('1', 'Call of Cthulhu', 'HP Lovecraft', '1928'), ('2', 'The Last Voice They Hear', 'Ramsey Campbell', '1998'), ('3', "Believer's World", 'Robert A.W. Lowndes', '1961'), ('4', 'The Case of Charles Dexter Ward', 'HP Lovecraft', '1941'), ('5', 'Something Near', 'August Derleth', '1945'), ('6', 'Lonesome Places', 'August Derleth', '1962'), ('7', 'From Beyond', 'HP Lovecraft', '1934'), ('8', 'Dwellers in Darkness', 'August Derleth', '1976'), ('9', 'The Long Lost', 'Ramsey Campbell', '1983'), ('10', 'The Duplicated Man', 'Robert A.W. Lowndes', '1959'), ('11', 'The Tomb', 'HP Lovecraft', '1922'), ('12', 'The Claw', 'Ramsey Campbell', '1983')]

**4)** Using the BookInfo database, ask the user to enter a year and display all the books published after that year, sorted by the year they were published.

In [37]:
askyear = input ("Please enter a year: ")
cursor.execute("SELECT Title from books WHERE Year>?", [askyear])
print(cursor.fetchall())

Please enter a year: 1990
[('The Last Voice They Hear',), ('The Last Voice They Hear',)]